<form (ngSubmit)="onSubmit()" #articleForm="ngForm" class="add-article-form">
  <div class="form-group">
    <label for="title">Article Title</label>
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="article.title"
      placeholder="Enter article title"
      required
    />
  </div>

  <div class="form-group">
    <label for="link">Article Link</label>
    <input
      type="text"
      id="link"
      name="link"
      [(ngModel)]="article.link"
      placeholder="Enter full article URL"
      required
    />
  </div>

  <div class="form-group">
    <label for="description">Article Description</label>
    <textarea
      id="description"
      name="description"
      [(ngModel)]="article.description"
      placeholder="Provide a short description of this article or incident"
      rows="4"
      required
    ></textarea>
  </div>

  <button type="submit" [disabled]="!articleForm.form.valid">
    Submit Article
  </button>
</form>
