<form (ngSubmit)="onSubmit()" #articleForm="ngForm" class="add-article-form">
  <div class="form-group">
    <label for="title">{{ 'new.article.title' | translate }}</label>
    <input
      type="text"
      id="title"
      name="title"
      [(ngModel)]="article.title"
      [placeholder]="'new.article.ent' | translate"
      required
    />
  </div>

  <div class="form-group">
    <label for="link">{{ 'new.article.link' | translate }}</label>
    <input
      type="text"
      id="link"
      name="link"
      [(ngModel)]="article.link"
      [placeholder]="'new.article.url' | translate"
      required
    />
  </div>

  <div class="form-group">
    <label for="description">{{ 'new.article.description' | translate }}</label>
    <textarea
      id="description"
      name="description"
      [(ngModel)]="article.description"
      [placeholder]="'new.article.pro' | translate"
      rows="4"
      required
    ></textarea>
  </div>

  <button type="submit" [disabled]="!articleForm.form.valid">
    {{ data?.articleId ? 'Save Changes' : 'Submit Article' }}
  </button>
</form>
