<div class="articles-page-container" [class.dark-mode]="isDarkMode()">

  <div class="header">
    <h1>{{
      'articles.title' | translate
    }}</h1>
    <!-- "Add Article" button in the top right -->
    <!-- Only show button if user is logged in -->
    <button
      *ngIf="isLoggedIn()"
      class="add-article-btn"
      (click)="openAddArticleDialog()">
      {{
        'articles.add' | translate
      }}
    </button>
  </div>

  <!-- Loading Spinner -->
  <crh-progress-spinner *ngIf="isLoading"></crh-progress-spinner>

  <!-- Articles Section -->
  <div *ngIf="!isLoading" class="sections">
    <!-- Loop through the categories(keys of articlesToShow) -->
    <div
      *ngFor="let category of objectKeys(articlesByCategory || {})"
      class="category-section">

      <h2 (click)="toggleCategory(category)" class="collapsible-header">
        {{ category }}
        <span class="arrow" [class.collapsed]="collapsedSections[category]">
    {{ collapsedSections[category] ? '►' : '▼' }}
  </span>
      </h2>

      <div *ngIf="!(collapsedSections?.[category])">
        <div *ngIf="articlesByCategory?.[category]?.length; else emptySection">
          <ul class="article-list">
            <li
              *ngFor="
                let article of (articlesByCategory?.[category] ?? [])?.slice(
                  0,
                  articlesToShow?.[category] ?? 0
                )
              "
              class="article-item">
              <a
                [href]="article.link"
                target="_blank"
                (click)="incrementViewCount(article.articleId)"
                class="article-link">
                <h3>{{ article.title }}</h3>
              </a>
              <p class="article-description">{{ article.description }}</p>
              <p><strong>{{
                'articles.pub' | translate
              }}</strong> {{ article.publishDate }}</p>

              <!-- Only show the star icon for logged-in users -->
              <span
                class="star-icon"
                *ngIf="isLoggedIn()"
                (click)="toggleFavourite(article)"
                [class.fav]="isFavourite(article)">
                &#9733;
              </span>

              <!-- Only show the checkbox for "Article of Note" for logged-in users -->
              <label *ngIf="isLoggedIn()" class="article-of-note-label">
                <input
                  type="checkbox"
                  (change)="toggleArticleOfNote(article, $event)"
                  [checked]="isArticleOfNote(article)" />
                  {{
                    'articles.note' | translate
                  }}
              </label>
            </li>
          </ul>

          <!-- See More / See Less buttons -->
          <button
            *ngIf="
              (articlesToShow?.[category] ?? 3) === 3 &&
              ((articlesByCategory?.[category]?.length ?? 0) > 3)
            "
            (click)="toggleArticles(category)"
            class="see-more-btn">
            {{
              'articles.more' | translate
            }}
          </button>
          <button
            *ngIf="(articlesToShow?.[category] ?? 3) !== 3"
            (click)="toggleArticles(category)"
            class="see-less-btn">
            {{
              'articles.less' | translate
            }}
          </button>
        </div>
        <ng-template #emptySection>
          <p class="empty-section">{{
            'articles.empty' | translate
          }}</p>
        </ng-template>
      </div>
    </div>



    <!-- Show the "Articles of Note" section if there are any articles of note -->
    <div *ngIf="articlesOfNote?.length" class="category-section">
      <h2 (click)="toggleCategory('articlesOfNote')" class="collapsible-header">
        {{
          'articles.urnote' | translate
        }}
        <span class="arrow" [class.collapsed]="collapsedSections['articlesOfNote']">
    {{ collapsedSections['articlesOfNote'] ? '►' : '▼' }}
  </span>
      </h2>

      <div *ngIf="!(collapsedSections?.['articlesOfNote'])">
        <ul class="article-list">
          <li *ngFor="let article of (articlesOfNote ?? [])" class="article-item">
            <a
              [href]="article.url"
              target="_blank"
              class="article-link"
              (click)="incrementViewCount(article.articleId)">
              <h3>{{ article.title }}</h3>
            </a>
            <p class="article-description">
              {{ article.description || 'No description available.' }}
            </p>
            <p><strong>{{
              'articles.pub' | translate
            }}</strong> {{ article.publishDate || 'N/A' }}</p>
            <!-- Show the checkbox -->
            <label
              *ngIf="
                isLoggedIn() &&
                authService.hasAnyRole('admin', 'analyst', 'restricted_analyst')
              "
              class="article-of-note-label">
              <input
                type="checkbox"
                (change)="toggleArticleOfNote(article, $event)"
                [checked]="isArticleOfNote(article)" />
                {{
                  'articles.note' | translate
                }}
            </label>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
