@use 'style-utils' as *;

.edit-article-dialog-heading {
  @include text('heading-1');
  color: var(--crh-base-text-color);
  margin: 0;
}

.edit-article-dialog-footer {
  width: 100%;
}

.edit-article-dialog-content {
  display: flex;
  flex-direction: column;
  gap: size(20);

  & > * {
    width: size(600);
  }
}
