<crh-dialog>
  <crh-dialog-heading>
    <h1 class="login-dialog-heading">{{ 'login.login' | translate }}</h1>
  </crh-dialog-heading>
  <crh-dialog-content class="login-dialog-content">
    <crh-text-input
      [dynamicHintSection]="true"
      formControlName="username"
      [label]="'login.account' | translate"
      [ariaLabel]="'login.account' | translate"></crh-text-input>
    <crh-text-input
      [dynamicHintSection]="true"
      formControlName="password"
      [label]="'login.password' | translate"
      [ariaLabel]="'login.password' | translate"></crh-text-input>
  </crh-dialog-content>
  <crh-confirm-cancel-buttons
    crh-dialog-footer
    class="login-dialog-footer"
    [confirmButtonText]="'login.login' | translate"
    (onCancelPressed)="onCancel()">
  </crh-confirm-cancel-buttons>
</crh-dialog>
