@use 'style-utils' as *;

.crh-icon-button {
  font-size: size(var(--crh-icon-button-size));
  background-color: transparent;
  color: var(--crh-icon-button-color);
  border-radius: 100%;
  border: none;
  padding: size(4);

  &:hover:not([disabled]),
  &:active:not([disabled]) {
    cursor: pointer;
    background-color: var(--crh-icon-button-background-hover-color);
  }

  &:disabled {
    opacity: 0.75;
  }
}
