<div class="settings-container">
  <h1 class="settings-header">{{ 'settings.header' | translate }}</h1>

  <!-- Dark Mode Toggle - Always Visible -->
  <div class="settings-section">
    <h2>{{ 'settings.appearance' | translate }}</h2>
    <div class="mode-toggle">
      <span>{{ 'settings.light' | translate }}</span>
      <label class="toggle-switch">
        <input
          type="checkbox"
          [checked]="isDarkMode()"
          (change)="onToggleChange($event)" />
        <span class="slider"></span>
      </label>
      <span>{{ 'settings.dark' | translate }}</span>
    </div>
  </div>

  <div *ngIf="userRole() === 'admin'" class="settings-section">
    <h2>{{ 'settings.report' | translate }}</h2>

    <form [formGroup]="form" (ngSubmit)="saveSettings()">
      <div class="form-section">
        <label>{{ 'settings.primary' | translate }}:</label>
        <input type="color" formControlName="primaryColor" />
      </div>

      <div class="form-section">
        <label>{{ 'settings.accent' | translate }}:</label>
        <input type="color" formControlName="accentColor" />
      </div>

      <div class="form-section">
        <label>Logo:</label>
        <input
  #logoInput
  type="file"
  accept="image/*"
  (change)="handleLogoUpload($event)"/>
        <div *ngIf="logoToSave()" style="margin-top: 8px">
          <span>Preview:</span><br />
          <img [src]="logoToSave()!" alt="Logo preview" class="logo-preview" />
          <button
            *ngIf="logoToSave()"
            type="button"
            class="remove-logo-button"
            (click)="onClearlogo(logoInput)">
            Remove logo
          </button>
        </div>
      </div>

      <div class="form-actions">
        <button class="save-button">
          {{ 'settings.save' | translate }}
        </button>
      </div>
    </form>
  </div>
</div>
