<div class="home-container" [class.dark-mode]="isDarkMode()">
  <div class="box chatbot">
    <div class="box-header">
      <h2>{{ 'chat.title' | translate }}</h2>
    </div>

    <!-- Chat window -->
    <div class="chat-window">
      <div
        *ngFor="let msg of messages()"
        [ngClass]="msg.sender === 'user' ? 'user' : 'bot'"
      >
      <div class="message-bubble">{{ msg.text | translate }}</div>
      </div>
    </div>

    <!-- Text input area -->
    <div class="chat-input">
      <input
        type="text"
        [ngModel]="userMessage()"
        (ngModelChange)="userMessage.set($event)"
        (keydown.enter)="sendMessage()"
        [placeholder]="'chat.type' | translate"
      />
      <button (click)="sendMessage()">{{ 'chat.send' | translate }}</button>
      <button class="clear-btn" (click)="clearChat()">{{ 'chat.clear' | translate }}</button>
    </div>
  </div>
</div>
