<div class="reports">
  <div class="report-search-top">
    <div class="report-search-header">
      <h1 class="report-search-header-text">
        {{ 'reportSearch.header' | translate }}
      </h1>
      <crh-button
        *ngIf="isLoggedIn"
        class="report-search-header-latest"
        (click)="onLatestClick()">
        {{ 'reportNew.latest' | translate }}
      </crh-button>
    </div>

    <form
      class="report-search-control"
      [formGroup]="searchFormGroup"
      id="filtersForm"
      (ngSubmit)="onSearchClick()">
      <div class="report-search-control-filters">
        <!-- TEXT INPUT: REPORT NUMBER -->
        <div class="filter-wrapper">
          <mat-form-field appearance="outline">
            <mat-label>{{ 'reportSearch.no' | translate }}</mat-label>
            <input
              type="number"
              matInput
              formControlName="reportNo"
              placeholder=" "
              class="search-box"
              min="1" />
            <mat-error
              *ngIf="searchFormGroup.get('reportNo')?.hasError('pattern')">
              A report id can't be negative or null.
            </mat-error>
          </mat-form-field>
        </div>

        <!-- DROPDOWN FOR TYPE SELECTION -->
        <div class="filter-wrapper">
          <mat-form-field class="dropdown-form-field" appearance="outline">
            <mat-label>Type</mat-label>
            <mat-select formControlName="type">
              <mat-option value=""></mat-option>
              <mat-option value="DAILY">{{
                'reportSearch.daily' | translate
              }}</mat-option>
              <mat-option value="WEEKLY">{{
                'reportSearch.weekly' | translate
              }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- DROPDOWN FOR TYPE SELECTION -->
        <crh-date-picker
          formControlName="startDate"
          label="{{ 'reportSearch.search.fromLabel' | translate }}">
        </crh-date-picker>

        <crh-date-picker
          formControlName="endDate"
          label="{{ 'reportSearch.search.toLabel' | translate }}">
        </crh-date-picker>

        <!-- SEARCH BUTTON -->
        <div class="searchButton">
          <button class="search-button" (click)="onSearchClick()">
            {{ 'reportSearch.search' | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="report-search-content">
    <table class="report-table">
      <thead>
        <tr>
          <th>No</th>
          <th>Type</th>
          <th>{{ 'reportSearch.date' | translate }}</th>
          <th>{{ 'reportSearch.modified' | translate }}</th>
          <th *ngIf="isLoggedIn">{{ 'reportSearch.email' | translate }}</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="reportSearchResultsSignal() as results">
          <tr *ngIf="reportSearchTotalSignal() === 0">
            <td colspan="6" class="no-data">
              {{ 'reportSearch.noreports' | translate }}
            </td>
          </tr>

          <tr *ngFor="let report of results">
            <td>{{ report?.reportId }}</td>
            <td>{{ report?.reportType === 'daily' ? 'Daily' : 'Weekly' }}</td>
            <td>{{ report?.generatedDate | date: 'medium' }}</td>
            <td>{{ report?.lastModified | date: 'medium' }}</td>
            <td *ngIf="isLoggedIn">{{ report?.emailStatus ? '✔' : '✘' }}</td>
            <td class="actions-column">
              <button class="view-button" (click)="onViewReport(report)">
                View
              </button>
              <button
                *ngIf="isLoggedIn"
                class="delete-button"
                (click)="onDeleteReport(report)">
                Delete
              </button>
            </td>
          </tr>
        </ng-container>
      </tbody>
    </table>
    <!-- LOADING SPINNER -->
    <ng-container *ngIf="isLoadingSignal()">
      <crh-progress-spinner></crh-progress-spinner>
    </ng-container>
  </div>
</div>
