<div class="report-search-top">
  <div class="report-search-header">
    <h1 class="report-search-header-text">
      {{ 'reportSearch.header' | translate }}
    </h1>
    <crh-button
      *ngIf="isLoggedIn"
      class="report-search-header-latest"
      (click)="onLatestClick()">
      {{ 'reportNew.latest' | translate }}
    </crh-button>
  </div>

  <!-- <form class="report-search-control" [formGroup]="searchFormGroup" id="filtersForm">
    <div class="report-search-control-dates">
      <div>{{ 'reportSearch.searchLabel' | translate }}</div>
      <crh-date-picker
        formControlName="startDate"
        label="{{
          'reportSearch.search.fromLabel' | translate
        }}"></crh-date-picker>
      <crh-date-picker
        formControlName="endDate"
        label="{{
          'reportSearch.search.toLabel' | translate
        }}"></crh-date-picker>
    </div>
    <div class="report-search-control-pages">
      <crh-paginator
        [options]="[10, 20, 50]"
        [totalResults]="reportSearchTotalSignal()"
        (pageStatus)="paginatorStatusSignal.set($event)"></crh-paginator>
    </div>
  </form> -->
  
  <form class="report-search-control" [formGroup]="searchFormGroup" id="filtersForm">
    <div class="report-search-control-filters">
      <!-- TEXT INPUT: REPORT NUMBER -->
      <div class="filter-wrapper">
        <div class="floating-label">
          <input
            type="text"
            formControlName="reportNo"
            placeholder=" "
            class="search-box" />
          <label>{{ 'reportSearch.no' | translate }}</label>
        </div>
      </div>

      <!-- DROPDOWN FOR TYPE SELECTION -->
      <div class="filter-wrapper">
        <mat-form-field class="dropdown-form-field" appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="DAILY">{{ 'reportSearch.daily' | translate }}</mat-option>
            <mat-option value="WEEKLY">{{ 'reportSearch.weekly' | translate }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <!-- DATE PICKER: START DATE -->
      <!-- <div class="filter-wrapper">
        <mat-form-field class="date-picker-form-field" appearance="outline">
          <mat-label>{{ 'reportSearch.startdate' | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="pickerFrom"
            formControlName="startDate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerFrom"></mat-datepicker-toggle>
          <mat-datepicker #pickerFrom></mat-datepicker>
        </mat-form-field>
      </div> -->

      <crh-date-picker
          formControlName="startDate"
          label="{{
            'reportSearch.search.fromLabel' | translate
          }}">
      </crh-date-picker>
      
      <crh-date-picker
        formControlName="endDate"
        label="{{
          'reportSearch.search.toLabel' | translate
        }}">
      </crh-date-picker>

      <!-- DATE PICKER: END DATE -->
      <!-- <div class="filter-wrapper">
        <mat-form-field class="date-picker-form-field" appearance="outline">
          <mat-label>{{ 'reportSearch.enddate' | translate }}</mat-label>
          <input
            matInput
            [matDatepicker]="pickerTo"
            formControlName="endDate" />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerTo"></mat-datepicker-toggle>
          <mat-datepicker #pickerTo></mat-datepicker>
        </mat-form-field>
      </div> -->

      <!-- SEARCH BUTTON -->
      <div class="filter-wrapper">
        <button class="search-button" (click)="onSearchClick()">{{ 'reportSearch.search' | translate }}</button>
      </div>
    </div>
  </form>
</div>

<div class="report-search-content">
  <table class="report-table">
    <thead>
      <tr>
        <th>No</th>
        <th>Type</th>
        <th>{{ 'reportSearch.date' | translate }}</th>
        <th>{{ 'reportSearch.modified' | translate }}</th>
        <th *ngIf="isLoggedIn">{{ 'reportSearch.email' | translate }}</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngIf="reportSearchResultsSignal() as results">
        <tr *ngIf="reportSearchTotalSignal() === 0">
          <td colspan="6" class="no-data">{{ 'reportSearch.noreports' | translate }}</td>
        </tr>

        <tr *ngFor="let report of results">
          <td>{{ report?.reportId }}</td>
          <td>{{ report?.type === 'daily' ? 'Daily' : 'Weekly' }}</td>
          <td>{{ report?.generatedDate | date: 'medium' }}</td>
          <td>{{ report?.lastModified | date: 'medium' }}</td>
          <td *ngIf="isLoggedIn">{{ report?.emailStatus ? '✔' : '✘' }}</td>
          <td class="actions-column">
            <button class="view-button" (click)="onViewReport(report)">
              View
            </button>
            <button
              *ngIf="isLoggedIn"
              class="delete-button"
              (click)="onDeleteReport(report)">
              Delete
            </button>
          </td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>
