@use 'style-utils' as *;

:host {
  display: flex;
  flex-direction: column;
  gap: size(16);
  padding: size(32);
}

.reports {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* Header */
.report-search-top {
  display: flex;
  flex-direction: column;
  gap: size(16);
  margin-bottom: 32px;
}

.report-search-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  .report-search-header-text {
    @include text('heading-1');
    margin: 0;
  }

  .report-search-header-latest {
    width: fit-content;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    width: 154px;
  }

  .report-search-header-latest:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  }
}

/* Form Controls */
.report-search-control {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: size(16);
  margin-bottom: size(16);

  .report-search-control-filters {
    display: flex;
    align-items: center;
    flex-wrap: wrap; /* Allow wrapping on smaller screens */
    gap: 20px; /* Increased spacing */
    justify-content: center; /* Center align filters */
    margin: 0 auto; /* Keep centered */
  }

  /* Filter Wrapper */
  .filter-wrapper {
    padding: 5px;
  }

  /* Ensure search button stays inline */
  .searchButton {
    margin-right: 0;
    width: auto;
  }

  .report-search-control-pages {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 16px;
  }
}

/* Floating Label for Text Inputs */
.floating-label {
  position: relative;
  width: 100%;

  input.search-box {
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(116, 106, 106);
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    text-align: center;
    transition:
      border-color 0.2s,
      border-width 0.1s;
    height: 35px; /* match the date picker’s height */
    margin-bottom: 20px;
  }

  input.search-box:focus {
    outline: none;
    border-color: #050c9c;
    border-width: 2.5px;
  }

  label {
    position: absolute;
    top: 35%;
    left: 12px;
    transform: translateY(-50%);
    background: #fff;
    padding: 0 4px;
    color: #656161;
    pointer-events: none;
    transition: all 0.2s ease;
  }

  input.search-box:focus + label,
  input.search-box:not(:placeholder-shown) + label {
    top: -8px;
    left: 8px;
    font-size: 12px;
    color: #050c9c;
  }
}

/* Search Button */
button.search-button {
  background-color: #050c9c;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  height: 38px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 124px;
}

button.search-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Results Content */
.report-search-content {
  display: flex;
  flex-direction: column;
  gap: size(16);
  align-items: center;
  width: 100%;

  .report-search-no-results {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: size(8);
    color: #002d72;

    h3,
    p {
      margin: 0;
    }

    h3 {
      @include text('heading-2');
    }

    p {
      @include text('heading-3');
    }
  }
}

.reports-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  align-items: center;
  justify-content: center;
}
