@use 'style-utils' as *;

:host {
  max-width: size(720);

  display: flex;
  flex-direction: column;
  gap: size(4);
}

h3 {
  @include text('heading-2');
  margin: 0;
  color: var(--crh-accent-links-color);
  width: fit-content;
  padding: size(8);
}

.report-result-email-status {
  display: flex;
  flex-direction: row;
  gap: size(4);
  color: var(--crh-base-text-color);
  padding: size(4);

  .report-status-text {
    @include text('paragraph-emphasized');
  }

  .report-result-icon {
    font-size: size(24);
    vertical-align: bottom;
    user-select: none;
  }

  .report-result-sent {
    color: var(--crh-success-color);
  }

  .report-result-not-sent {
    color: var(--crh-error-color);
  }
}

.report-card {
  max-width: size(400);
  box-shadow: 0px 4px 8px 0px var(--crh-card-color-shadow);
}

.report-content {
  padding: size(8);
}

.content-item {
  padding: size(4);
}

.btn-actions {
  display: flex;
  gap: size(16);
}

.action-btn {
  z-index: 0;
}

button.delete-btn {
  color: var(--crh-primary-contrast-color);
  background-color: var(--crh-error-color);
  &:hover {
    background-color: var(--crh-primary-contrast-color);
    color: var(--crh-error-color);
  }
}

button.view-btn {
  color: var(--crh-success-color);
  background-color: var(--crh-primary-contrast-color);
  &:hover {
    // inverting the logic
    background-color: var(--crh-success-color);
    color: var(--crh-primary-contrast-color);
  }
}
