<h1 class="crh-home-title">{{ 'home.title' | translate }}</h1>

<div class="home-container">
  <!-- Articles of Note -->
  <div class="box articles">
    <div class="box-header">
      <h2>Articles of Note</h2>
    </div>
    <ul>
      <li *ngFor="let article of articlesOfNote">
        <a [href]="article.link" target="_blank">{{ article.title }}</a>
      </li>
    </ul>
  </div>

  <!-- Most Viewed Articles -->
  <div class="box most-viewed">
    <div class="box-header">
      <h2>Most Viewed Articles</h2>
    </div>
    <ul>
      <li *ngFor="let article of mostViewedArticles">
        <a [href]="article.link" target="_blank">{{ article.title }}</a>
      </li>
    </ul>
  </div>

  <!-- Latest Published Report -->
  <div class="box reports">
    <div class="box-header">
      <h2>Latest Published Report</h2>
      <a routerLink="/reports" class="see-more-button">See More</a>
    </div>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Type</th>
          <th>Generated Date</th>
          <th>Last Modified</th>
          <th *ngIf="isLoggedIn">Email Sent</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="latestPublishedReport">
          <td>{{ latestPublishedReport.reportId }}</td>
          <td>{{ latestPublishedReport.reportType }}</td>
          <td>{{ latestPublishedReport.generatedDate }}</td>
          <td>{{ latestPublishedReport.lastModified }}</td>
          <td *ngIf="isLoggedIn">
            {{ latestPublishedReport.emailStatus ? '✔' : '✘' }}
          </td>
        </tr>
        <tr *ngIf="!latestPublishedReport">
          <td colspan="5">Loading...</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Current Items of Interest -->
  <div class="box interest">
    <div class="box-header">
      <h2>Current Items of Interest</h2>
      <a routerLink="/reports" class="see-more-button">See More</a>
    </div>
    <ul>
      <li *ngFor="let item of currentItemsOfInterest">
        {{ item }}
      </li>
    </ul>
  </div>
</div>
